.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #0055ff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #658f65;
}

header {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.container-box {
  margin: auto;
  width: 80%;
  height: 300px;
}

.player-container {
  /* display: flex; */
  justify-content: center;
}

.recordBtn {
  display: inline-block;
  vertical-align: middle;
  -webkit-appearance: none;
  -webkit-border-radius:0px;
  appearance: none;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  cursor: pointer;
  font-family: monospace;
  padding: 100px;
  transition: transform 0.2s ease-in-out, background 0.2s ease-in-out;
  background-color: white;
  border-radius: 3px;
  position: relative;
  width: 150px;
  top: 10;
  font-weight: bold;
  font-size: 25px;
  margin: 4px 30px;
  text-align: center !important;
  
  border-style: outset;
  border-color: var(--light) var(--purple) var(--purple) var(--light);
  border-width: 2px;
  padding: 3px;
  box-shadow: 2px 2px 0px var(--purple);
}

.recordBtn:hover {
  background: var(--cream);
}

.disc-container {
  /* width: 100%; */
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  /* animation-play-state: paused; */
}

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}

.spinning-disc {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.back {
  
}

.back-img {
  width: 75px;
  padding-top: 50px;
  padding-bottom: 100px;
  cursor: pointer;
}

.tail-spin {
  display: flex;
  justify-content: center;
}