html {
  --green: #9DE5B8;
  --blue: #23465A;
  --cream: #DEF2F1;
  --slider-size: 20px;
  --thumb-size: 10px;
}

header {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 106px;
}

body {
  font-family: 'IBM Plex Mono', monospace;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  margin: 0;
  padding: 0;
  touch-action: manipulation; /* disable double-tap zoom */
  position: relative;
  text-align: center;
  background: var(--cream);
  color: var(--blue);
  line-height: 1.5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 60px;
  font-weight: normal;
  text-align: center;
  margin-top: 0;
}